allow autotest teetz_device:chr_file {open ioctl read write};
allow autotest sf_device:chr_file {open ioctl read write};
allow autotest sf_service:hwservice_manager find;
allow autotest hal_fingerprint_default:binder { call transfer };
allow hal_fingerprint_default autotest:binder { call transfer };
allow autotest self:netlink_kobject_uevent_socket { create setopt bind read };
