allow hal_fingerprintmmi_default sf_service:hwservice_manager { find };
allow hal_fingerprintmmi_default hal_fingerprint_default:binder { call transfer};
allow hal_fingerprint_default hal_fingerprintmmi_default:binder { call};
