on post-fs
    insmod ${ro.vendor.ko.mount.point}/socko/sunwave_sw9058g_fp.ko

on factorytest
    insmod ${ro.vendor.ko.mount.point}/socko/sunwave_sw9058g_fp.ko

on boot
#add for sunwave fingerprint
    wait /dev/sunwave_fp
    chmod 660 /dev/sunwave_fp
    chown system system /dev/sunwave_fp

on factorytest-start
    chmod 660 /dev/sunwave_fp
    chown system system /dev/sunwave_fp
